#texto-fonte-root{
    font-size: 3rem;

}

#texto-paddings-verticais{
    background-color: lightskyblue;
    padding: 2em 0;

}

#altura-porcentagem-comprimento{
    height: 20vw;
    background-color: lightgreen;

}

#comprimento-metade-altura{
    width: 50vh;
    background-color: lightgrey;

}

.container{
    border: 1px solid black;
    width: 400px;
    font-size: 20px;
}

#fonte-setenta{
    font-size: 0.7em;

}

#comprimento-pai{
    background-color: lightsalmon;
    width: 10%;

}

#altura-pai{
    height: 10%;
    background-color: lightslategray;

}